<template>
  <div v-if="showModal" class="add-user-modal">
    <div class="add-user-modal__opacity"></div>
    <div class="add-user-modal__content">
      <div class="add-user-modal__top">
        <h3 class="add-user-modal__top-title">Добавление пользователя</h3>
        <div class="add-user-modal__top-close" @click="closeModal">Х</div>
      </div>
      <form class="add-user-modal__form">
        <p v-if="isInvalid" class="add-user-modal__form-error">*Введите имя и номер телефона</p>

        <label class="add-user-modal__form-label">
          Имя
          <Input v-model="form.name"/>
        </label>

        <label class="add-user-modal__form-label">
          Телефон
          <Input v-model="form.phone" v-mask="'+7 (###) ### ## ##'"/>
        </label>

        <label class="add-user-modal__form-label">
          Начальник
          <Select v-model="form.parentId" :options="users"></Select>
        </label>

        <Button
          class="add-user-modal__form-button"
          @click="checkForm"
        >
          Сохранить
        </Button>
      </form>
    </div>
    </div>
</template>

<script>
import Input from './elements/Input'
import Select from './elements/Select'
import Button from './elements/Button'

export default {
  name: 'addUserModal',
  components: {Select, Input, Button},
  props: {
    showModal: {
      type: Boolean,
      default: true
    },
    users: {
      type: Array,
      default () {
        return []
      }
    }
  },

  data: () => ({
    form: {
      name: null,
      phone: null,
      parentId: null
    },
    isInvalid: false
  }),

  methods: {
    convertToFlat (array) {
      return array.reduce((acc, item) => {
        acc.push(item)

        if (item.children.length) {
          acc.push(...this.convertToFlat(item.children))
        }

        return acc
      }, [])
    },
    checkForm () {
      if (this.form.name === '' || this.form.name === null || this.form.phone.length < 18) {
        this.isInvalid = true
      } else {
        this.isInvalid = false
        const newUser = {
          name: this.form.name,
          phone: this.form.phone,
          parentId: this.form.parentId,
          children: []
        }
        this.$emit('new-user', newUser)
        this.closeModal()
      }
    },
    closeModal () {
      Object.keys(this.form).forEach(key => {
        this.form[key] = null
      })
      this.$emit('close-modal')
    }
  }
}
</script>

<style lang="css" scoped>
.add-user-modal .add-user-modal__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 500px;
  width: 100%;
  height: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.add-user-modal .add-user-modal__top {
  display: flex;
  justify-content: space-between;
}

.add-user-modal .add-user-modal__top .add-user-modal__top-title {
  margin: 10px 0;
}
.add-user-modal .add-user-modal__top .add-user-modal__top-close {
  cursor: pointer;
}

.add-user-modal .add-user-modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-user-modal .add-user-modal__form .add-user-modal__form-error {
  color: red;
}

.add-user-modal .add-user-modal__form .add-user-modal__form-button {
  margin: 10px auto 0 0;
}

.add-user-modal .add-user-modal__form .add-user-modal__form-label {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.add-user-modal .add-user-modal__form .add-user-modal__form-label input, select {
  max-width: 310px;
  width: 100%;
  margin-left: auto;
}

.add-user-modal .add-user-modal__opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

</style>
