<template>
  <div class="users-page">
    <div class="users-page__row">
      <h2>Страница пользователей</h2>

      <Button @click="toggleModal">Добавить</Button>
    </div>

    <UserTable :users="users" @sort="sortUsers"></UserTable>

    <AddUserModal
      :show-modal="isVisible"
      :users="flatUsers"
      @new-user="addUser"
      @close-modal="toggleModal"
    ></AddUserModal>
  </div>
</template>

<script>
import Button from './elements/Button'
import UserTable from './UserTable'
import AddUserModal from './AddUserModal'
import {ASCENDING, DESCENDING} from '../constants/sorting'
import {USERS} from '../constants/localStorage'

export default {
  name: 'UsersPage',

  components: {
    AddUserModal,
    UserTable,
    Button
  },

  data () {
    return {
      isVisible: false,
      isSortByName: false,
      users: [],
      usersList: [],
      flatUsers: []
    }
  },

  created () {
    const users = this.getUsers()
    if (users !== null) {
      this.users = users
      this.flatUsers = this.convertToFlat(this.users)
    }
  },

  methods: {
    getUsers () {
      return JSON.parse(localStorage.getItem(USERS))
    },

    setUsers (users) {
      localStorage.setItem(USERS, JSON.stringify(users))
    },

    toggleModal () {
      this.isVisible = !this.isVisible
    },

    addUser (newUser) {
      const userId = this.generateUserId()
      const userData = {
        ...newUser,
        id: userId
      }
      if (newUser.parentId) {
        this.addChildren(this.users, userData)
      } else {
        this.users.push(userData)
      }
      this.setUsers(this.users)
      this.flatUsers = this.convertToFlat(this.users)
    },

    addChildren (users, newUser) {
      const idx = users.findIndex(u => u.id === +newUser.parentId)

      if (idx >= 0) {
        users[idx].children.push(newUser)
        return
      }

      users.forEach(parent => {
        if (parent.children.length) {
          this.addChildren(parent.children, newUser)
        }
      })
    },

    generateUserId () {
      if (this.flatUsers.length === 0) {
        return 1
      }

      const ids = this.flatUsers.map(item => item.id)
      const maxUserId = Math.max.apply(null, ids)

      return maxUserId + 1
    },

    convertToFlat (array) {
      return array.reduce((acc, item) => {
        acc.push(item)
        if (item.children.length) {
          acc.push(...this.convertToFlat(item.children))
        }
        return acc
      }, [])
    },

    sortUsers (sorting) {
      if (sorting.order === null) {
        this.users = this.getUsers()
        return
      }

      this.sort(this.users, sorting.name, sorting.order)
    },

    sort (array, field, order) {
      if (order === ASCENDING) {
        array.sort((a, b) => a[field] > b[field] ? 1 : -1)
      } else if (order === DESCENDING) {
        array.sort((a, b) => a[field] < b[field] ? 1 : -1)
      }
      array.forEach(item => {
        if (item.children) {
          this.sort(item.children, field, order)
        }
      })
    }
  }
}
</script>

<style lang="css" scoped>
.users-page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.users-page__row {
  display: flex;
}
</style>
