<template>
  <div class="user-table-components">
    <h2>Таблица</h2>
    <div class="user-table-components__table">
      <div class="user-table-components__table-head">
        <div class="user-table-components__table-head-name" @click="sort('name')">
          Имя
          <span
            v-if="sorting.name === 'name' && sorting.order"
            class="user-table-components__table-head-name-sort"
            :class="sortingClass"
          >&#8249;</span>
        </div>
        <div class="user-table-components__table-head-phone" @click="sort('phone')">
          Телефон
          <span
            v-if="sorting.name === 'phone' && sorting.order"
            class="user-table-components__table-head-name-sort"
            :class="sortingClass"
          >&#8249;</span>
        </div>
      </div>
      <div class="user-table-components__table-body">
        <Row
          v-for="user in users"
          :key="user.id"
          :user="user"
          class="user-table-components__table-body-row"
        ></Row>
      </div>
    </div>
  </div>
</template>

<script>
import Row from './elements/Row'
import { ASCENDING, DESCENDING } from '../constants/sorting'

export default {
  name: 'UserTable',
  components: {Row},
  props: {
    users: {
      type: Array,
      default () {
        return []
      }
    }
  },

  data: () => ({
    sorting: {
      name: '',
      order: null
    }
  }),

  computed: {
    sortingClass () {
      if (this.sorting.order === ASCENDING) {
        return 'asc'
      } else if (this.sorting.order === DESCENDING) {
        return 'desc'
      }
      return ''
    }
  },

  methods: {
    sort (name) {
      const { order } = this.sorting

      if (this.sorting.name === name) {
        if (order === ASCENDING) {
          this.sorting.order = DESCENDING
        } else if (order === DESCENDING) {
          this.sorting.order = null
        } else {
          this.sorting.order = ASCENDING
        }
      } else {
        this.sorting = {
          name,
          order: ASCENDING
        }
      }
      this.$emit('sort', this.sorting)
    }
  }
}
</script>

<style lang="css" scoped>
.user-table-components {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-table-components .user-table-components__table {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.user-table-components .user-table-components__table .user-table-components__table-head {
  display: flex;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.user-table-components .user-table-components__table .user-table-components__table-body {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}

.user-table-components .user-table-components__table .user-table-components__table-body .user-table-components__table-body-row {
  display: flex;
  flex-direction: column;
}

.user-table-components .user-table-components__table .user-table-components__table-head .user-table-components__table-head-name {
  display: flex;
  justify-content: center;
  width: 30%;
  padding: 5px 0;
}

.user-table-components .user-table-components__table .user-table-components__table-head .user-table-components__table-head-phone {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 5px 0;
  border-left: 1px solid grey;
}

.user-table-components .user-table-components__table .user-table-components__table-head .user-table-components__table-head-name-sort {
  margin-left: 5px;
}

.user-table-components .user-table-components__table .user-table-components__table-head .user-table-components__table-head-name-sort.asc,
.user-table-components .user-table-components__table .user-table-components__table-head .user-table-components__table-head-name-sort.asc {
  transform: rotate(90deg);
}
.user-table-components .user-table-components__table .user-table-components__table-head  .user-table-components__table-head-name-sort.desc,
.user-table-components .user-table-components__table .user-table-components__table-head  .user-table-components__table-head-name-sort.desc {
  transform: rotate(270deg);
}
</style>
