<template>
  <button
    :type="type"
    class="button"
    @click.prevent="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'Button',

  props: {
    type: {
      type: String,
      default: 'button'
    }
  }
}
</script>

<style lang="css" scoped>
.button {
  max-width: 300px;
  width: 100%;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.22);
}
.button:hover {
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.47);
}
</style>
