<template>
  <input
    :value="value"
    :type="type"
    class="input"
    @input="$emit('input', $event.target.value)"
  >
</template>

<script>
export default {
  name: 'Input',
  props: {
    value: {
      type: String | null,
      required: true
    },
    type: {
      type: String,
      default: 'text'
    }
  }
}
</script>

<style lang="css" scoped>
.input {
  padding: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
</style>
