<template>
  <div class="row">
    <div class="row__item">
      <div class="row__item-name">{{ user.name }}</div>
      <div class="row__item-phone">{{ user.phone }}</div>
    </div>
    <div v-if="user.children.length" class="row__children">
      <Row
        v-for="children in user.children"
        :key="children.id"
        :user="children"
      ></Row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Row',

  props: {
    user: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="css" scoped>
.row {
  background-color: rgba(128, 128, 128, 0.25);
}

.row .row__item {
  display: flex;
  width: 100%;
  border-top: 1px solid grey;
}

.row .row__children {
  padding-left: 10px;
}

.row .row__item-name {
  width: 30%;
  padding: 5px 0;
}

.row .row__item-phone {
  width: 70%;
  padding: 5px 0;
  border-left: 1px solid grey;
}
</style>
