<template>
  <select
    :value="value"
    class="select"
    @change="select($event, value)"
  >
    <option
      v-for="option in options"
      :key="option[valueName]"
      :value="option[valueName]"
    >
      {{ option[labelName] }}
    </option>
  </select>
</template>

<script>
export default {
  name: 'Select',

  props: {
    value: {
      type: String | Number,
      required: true
    },
    options: {
      type: Array,
      default () {
        return []
      }
    },
    valueName: {
      type: String,
      default () {
        return 'id'
      }
    },
    labelName: {
      type: String,
      default () {
        return 'name'
      }
    }
  },

  methods: {
    select ($event) {
      this.$emit('input', $event.target.value)
    }
  }
}
</script>

<style scoped>
.select {
  padding: 5px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
</style>
