<template>
  <div id="app">
    <UsersPage/>
  </div>
</template>

<script>
import UsersPage from './components/UsersPage'

export default {
  name: 'App',
  components: {
    UsersPage
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

table {
  border-collapse: collapse;
}

table th, td {
  border: solid 1px;
}
</style>
